$orange-000: #870022 !default;
$orange-100: #870022 !default;
$orange-200: #a04800 !default;
$orange-300: #964400 !default;
$sidebar-000: #DEF0FF !default;




$link-color: $orange-000;
$btn-primary-color: $orange-100;
$sidebar-color: $sidebar-000;

